main {
  min-height: calc(100vh - 56px);
  padding-bottom: 56px;
}

h2 {
  font-size: 22px;
  text-align: center;
  padding: 20px 0px;
}

h2.green {
  background-color: #439946;
  color: white;
}

.rs-navbar.rs-navbar-default {
  position: fixed;
  width: 100%;  
  box-shadow: 0 1px 7px 0px #00000029;
  transition: .5s;
  z-index: 9999999;
}

.rs-navbar.rs-navbar-default.transparent {
  background-color: transparent !important;
  box-shadow: none;
}

header {
  height: 90vh;    
  display: flex !important;
  background-image: url(./img/header_back.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: right;
}

header .content-info {
  background-color: #ffffff9e;
  padding: 50px;
  display: flex;
  align-items: center;
}

header h1 {
  line-height: normal;
  color: #454545;
}

header h1 .label-small {  
  font-size: 25pt;
}

header h1 .label-big {
  font-size: 40pt;
  font-weight: bold;
}

header .descricao {
  max-width: 500px;
}

header .more {
  margin-top: 30px;
}

header div.division-1 {
  height: 100%;    
  flex-grow: 1;
  background-size: cover;
}

.nada {
  height: 1000px;;
}

.cards-materials .rs-panel-body {
  width: 240px;
}

.cards-materials .rs-panel-bordered, .rs-panel-group-bordered {
  margin-top: 20px;  
}

.cards-materials .rs-flex-box-grid-item .title {
  font-size: 20px;
  margin-top: 10px;
  white-space: normal;
}

.cards-materials .rs-flex-box-grid-item .footer {
  margin-top: 10px;
  text-align: center;  
  color: white;
  border-radius: 10px;
}

.cards-materials .rs-flex-box-grid-item .footer.nao-reciclavel {
  background-color: #a40000;
}

.cards-materials .rs-flex-box-grid-item .footer.reciclavel {
  background-color: #439946;
}

.loading-page-container {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}